{
	"host": "127.0.0.1",
    "port": "8081",
    "payment_gate": "http://127.0.0.1:8083",
    "debug": false,
    "single_mode": true

	"cooloff_period": 21,
	"items_per_page": 24,
	"feed_size": 50,

	"pending_duration": "24h",
	"online_duration": "60m",
	"completed_duration": "240h",
	
	"free_commission": 0.1,
	"premium_commission": 0.05,
	"premium_plus_commission": 0.02,
    "advertising_cost": 5,

	"sitename": "",
	"postgres_connection_string": "",
	"example_postgres_connection_string": "host=127.0.0.1 user=postgres dbname=go_t sslmode=disable password=sql",
	"cookie_encryption_salt": "",
	
	"mattermost_incoming_hook_support": "",
	"mattermost_incoming_hook_authentication": "",
	"mattermost_incoming_hook_messageboard": "",
	"mattermost_incoming_hook_trusted_vendors": "",
	"mattermost_incoming_hook_transactions": "",
	"mattermost_incoming_hook_items": "",
	"mattermost_incoming_hook_disputes": "",
	"mattermost_incoming_hook_shoutbox": ""
}
